<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!--<header class="py-3 mb-4 border-bottom" th:fragment="header">-->
<!--    <nav class="py-2 bg-light border-bottom">-->
<!--        <div class="container d-flex flex-wrap">-->
<!--            <ul class="nav me-auto">-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>-->
<!--            </ul>-->
<!--            <ul class="nav">-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->

<!--    <div class="container d-flex flex-wrap justify-content-center">-->
<!--        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">-->
<!--            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
<!--            <span class="fs-4">Double header</span>-->
<!--        </a>-->
<!--        <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">-->
<!--            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">-->
<!--        </form>-->
<!--    </div>-->
<!--</header>-->




<footer class="py-3 my-4" th:fragment="footer">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.home}">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.pricing}">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.faq}">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.about}">About</a></li>
    </ul>
    <p class="text-center text-muted" th:text="${companyInfo.name}"></p>
    <p class="text-center text-muted" th:text="${companyInfo.address}"></p>
    <p class="text-center text-muted" th:text="${companyInfo.iban}"></p>
    <p class="text-center text-muted" th:text="#{page.title}">© 2022 BooksWakeUs</p>
</footer>

<div th:fragment="messageStatus(message)"
     class="alert alert-success" th:if="${message ne null}">
    <span th:text="${message}">message</span>
</div>

</html>