<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="py-3 my-4" th:fragment="footer">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.home}">Home</a></li>
        <li class="nav-item"><a th:href="@{/books}" class="nav-link px-2 text-muted" th:text="#{page.books}">Books</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.pricing}">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.faq}">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:text="#{page.about}">About</a></li>
    </ul>
    <p class="text-center text-muted" th:text="${companyInfo.name}"></p>
    <p class="text-center text-muted" th:text="${companyInfo.address}"></p>
    <p class="text-center text-muted" th:text="${companyInfo.iban}"></p>
    <p class="text-center text-muted" th:text="#{page.title}">© 2022 BooksWakeUs</p>
</footer>

<div th:fragment="messageStatus(message)"
     class="alert alert-success" th:if="${message ne null}">
<!--    <span th:text="${message}">message</span>-->
    <span th:text="#{${message}}">message</span>
</div>


</html>