<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Page title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous" defer></script>
</head>

<body class="container bg-light">

<div th:replace="fragments/common :: messageStatus(message=${message})"></div>

<header class="">
    <div class="container d-flex flex-wrap justify-content-center centered-data">
        <a th:href="@{/public/books}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <h1 class="fs-4" th:text="#{page.main.title}">Double header</h1>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 paddingRightZero" role="search" th:action="@{/public/books/search}" method="get">
            <input name="input" th:value="${param.input}" type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

<!--        <div>-->
<!--            <form th:action="@{/books/search}" method="get">-->
<!--                <input type="text" name="input" th:value="${param.input}" placeholder="find by book title">-->
<!--                <button th:text="Search"></button>-->
<!--            </form>-->
<!--        </div>-->

    </div>
    <nav class="py-2 light-yellow py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a th:href="@{/public/books}" class="nav-link link-dark px-2 active" aria-current="page" th:text="#{page.home}">Home</a></li>
                <li class="nav-item"><a th:href="@{/public/books}" class="nav-link link-dark px-2" th:text="#{page.books}">Books</a></li>
                <li class="nav-item"><a th:href="@{/public/faq}" class="nav-link link-dark px-2" th:text="#{page.faq}">FAQs</a></li>
                <li class="nav-item"><a th:href="@{/public/aboutUs}" class="nav-link link-dark px-2" th:text="#{page.about}">About</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                        Language
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" th:href="@{''(lang='lt')}">
                                <img th:src="@{/images/LT_flag.png}" class="language-selector"/>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{''(lang='en')}">
                                <img th:src="@{/images/UK_US_flag.png}" class="language-selector"/>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="nav">
                <li class="nav-item favBlock" style="display: flex; align-items: center;">
                    <span th:if="${session.favourites?.size gt 0}" th:text="${session.favourites.size}" class="badge bg-secondary favCount">4</span>
                    <a th:href="@{/public/favourites}" class="nav-link link-dark px-2" th:text="#{page.favourites}"></a>
                    </li>
                <li class="nav-item"><a th:href="@{/login}" class="nav-link link-dark px-2" th:text="#{login}">Login</a></li>
                <li class="nav-item"><a th:href="@{/public/signup}" class="nav-link link-dark px-2" th:text="#{signup}">Sign up</a></li>
                <form th:action="@{/public/books}" method="get">
                    <button class="nav-item logout-btn"><a class="nav-link link-dark px-2" th:text="#{logOut}">logout</a></button>
                </form>
            </ul>
        </div>
    </nav>
</header>



<!--<header th:replace="fragments/common :: header">-->
<!--</header>-->

<!--<main th:text="content">-->
<main th:insert="${content}"></main>


<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>