<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="fragments/layout :: layout(#{books.title}, ~{:: #mainSection})">

<section id="mainSection">


    <div th:if="${books.isEmpty()}">
        <h1>No books found</h1>
    </div>

    <table class="table table-striped" th:if="${ not books.isEmpty()}">
        <thead>
        <tr>
            <th>
                <span th:text="#{book.form.title}">title</span>
                <a th:with="ascending=${books.sort.getOrderFor('title')?.direction?.name() eq 'ASC'}"
                   th:href="@{''(sort='title,' + ${ascending ? 'DESC' : 'ASC'} + ',ignoreCase')}">
                    <i class="fa-solid"
                       th:classappend="${ascending ? 'fa-arrow-up-z-a' : 'fa-arrow-down-a-z'}"
                    ></i>
                </a>
            </th>
            <th th:text="#{book.form.author}">Author</th>
            <th th:text="#{book.form.description}">Description</th>
            <th>
                <span th:text="#{book.form.price}">Price</span>
                <a th:with="ascending=${books.sort.getOrderFor('price')?.direction?.name() eq 'ASC'}"
                   th:href="@{''(sort='price,' + ${ascending ? 'DESC' : 'ASC'})}">
                    <i class="fa-solid"
                       th:classappend="${ascending ? 'fa-arrow-up-9-1' : 'fa-arrow-down-1-9'}"
                    ></i>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">Red Storm Rising</td>
            <td th:text="${book.author}">Tom Clancy</td>
            <td th:text="${book.description}">GBest book</td>
            <td th:text="${book.price}">10</td>
            <td class="myButtons">
                <a class="btn btn-outline-secondary" th:href="@{/public/books/{id}(id=${book.id})}" th:text="#{main.edit}">Edit</a>


                <form th:action="@{/public/books/{id}/delete(id=${book.id})}" method="post">
                    <button class="btn btn-outline-danger" type="submit" th:text="#{main.delete}">Delete</button>
                </form>

                <form th:action="@{/public/favourites/{id}(id=${book.id})}" method="post">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fa-solid fa-heart-circle-plus"></i>
                    </button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

    <!--    pagination-->
    <ul class="pagination"
        th:with="order=${books.sort.sorted ? books.sort.iterator().next() : null},
                  ignoreCase=${order ne null and order.ignoreCase ? 'ignoreCase' : ''},
                  orderParam=${order ne null ? order.property + ',' + order.direction.name() + ',' + ignoreCase : null}">
        <li th:classappend="${books.hasPrevious() ? '' : 'disabled'}" class="page-item">
            <a class="page-link" th:href="@{''(page=${books.number - 1}, sort=${orderParam})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>


        <li th:each="page : ${#numbers.sequence(1, books.totalPages)}" class="page-item"
            th:classappend="${books.number == page - 1 ? ' active' : ''}">
            <a th:href="@{''(page=${page - 1}, sort=${orderParam})}"
               th:text="${page}" class="page-link"
               th:classappend="${books.number == page - 1 ? 'activeCustom' : ''}">1</a>        </li>


        <li th:classappend="${books.hasNext() ? '' : 'disabled'}" class="page-item">
            <a class="page-link" th:href="@{''(page=${books.number + 1}, sort=${orderParam})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>

            </a>
        </li>
    </ul>

    <div>
        <a class="btn btn btn-outline-primary" th:href="@{/public/books/create}" th:text="#{main.createbook}">Add book</a>
    </div>

</section>

</html>