<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(#{bookForm.title}, ~{:: #bookForm})">

<body>
<section id="bookForm">
    <form method="POST" th:object="${book}">

        <section>
            <div th:if="${#fields.hasErrors()}">
                <ul>
                    <li th:each="error : ${#fields.errors()}" th:text="${error}">klaida</li>
                </ul>
            </div>
        </section>
        <div>
            <label th:text="Title">Title</label>
            <input th:field="*{title}" th:errorclass="error-block">
            <div th:if="${#fields.hasErrors('title')}">
                <span th:errors="*{title}">Errors</span>
            </div>

        </div>

        <div>
            <label th:text="Author">Author</label>
            <input th:field="*{author}" th:errorclass="error-block">
            <div th:if="${#fields.hasErrors('author')}">
                <span th:errors="*{author}">Errors</span>
            </div>
        </div>

        <div>
            <label th:text="Description">Title</label>
            <textarea th:field="*{description}" th:errorclass="error-block"></textarea>
            <div th:if="${#fields.hasErrors('description')}">
                <span th:errors="*{description}">Errors</span>
            </div>
        </div>

        <div>
            <label th:text="Price">Title</label>
            <input th:field="*{price}" th:errorclass="error-block">
            <div th:if="${#fields.hasErrors('price')}">
                <span th:errors="*{price}">Errors</span>
            </div>
        </div>

        <div>
            <button type="submit" th:text="Add"></button>
        </div>
    </form>
</section>


</body>
</html>