<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>
    <form method="POST" th:object="${book}">
        <div>
            <label th:text="Title">Title</label>
            <input th:field="*{title}">

        </div>

        <div>
            <label th:text="Author">Author</label>
            <input th:field="*{author}">
        </div>

        <div>
            <label th:text="Description">Title</label>
            <textarea th:field="*{description}"></textarea>
        </div>

        <div>
            <label th:text="Price">Title</label>
            <input th:field="*{price}">
        </div>

        <div>
            <button type="submit" th:text="Add"></button>
        </div>
    </form>

</body>
</html>