<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Books list</title>
</head>
<body>

    <div th:if="${books.isEmpty()}">
        <h1>No books found</h1>
    </div>

    <table th:if="${ not books.isEmpty()}">
<!--        <table th:if="${ ne books.isEmpty()}">-->
<!--            <table th:if="${!books.isEmpty()}">-->

        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Red Storm Rising</td>
                <td th:text="${book.author}">Tom Clancy</td>
                <td th:text="${book.description}">GBest book</td>
                <td th:text="${book.price}">10</td>
                <td>
                    <a th:href="@{/books/{id}(id=${book.id})}" th:text="'Edit'">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>



<!--create books-->
    <div>
        <a th:href="@{/books/create}" th:text="'Create book'">Add book</a>
    </div>

</body>
</html>